.country {
    border: 2px solid skyblue;
    padding: 15px;
    border-radius: 12px;
    max-width: 384px;
}

.visited {
    background-color: darkgray;
    color: black;
}

.flags {
    width: 100%;
    height: 200px;
}

.btn-visit {
    margin-right: 8px;
}